.bggradient {
    background-image: linear-gradient(to right, blue , red);
    height: 70%;
    
  }
  .right img {
      margin-top: 10%;
  }
  .left p {
      margin-top: 10%;
  }
  .colorwhite {
      color: white;
  }
  .kopce1 {
      background-color: red;
      color: white;
      border-radius: 20%;
      margin-top: 10px;
  }
  .section {
	content: 'PORTFOLIO';
	display: inline-block;
	color: black;
	opacity: 0.04;
	font-weight: 700;
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 20rem;
}
.one:hover {
  background-image: linear-gradient(to right, blue, red); 
    height: 250px;
    border-radius: 10px;
    padding-top: 40px;  
    color: white;
}